:root {
  --background: #161616;
  --font: #e8e8e8;
  --fire-1: #fac235;
  --fire-2: #ed1c24;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font);
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
